<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Transfer_Fy</title>
</head>
<body>
  <div class="header_container">
    <a href="/" class="glitch_logo" title="Transfer_Fy">Transfer_Fy</a>
    <h2>Easily export, import and transfer Spotify playlists</h2>
  </div>
  <div class="middle_container">
    <a href="/export" class="glitch_button"><gbutton>Export playlists</gbutton></a>
    <br><br><br>
    <a href="/import" class="glitch_button"><gbutton>Import playlists</gbutton></a>
    <br><br><br><br><br><br><br>
    <a href="/logout" class="glitch_button"><gbutton>Logout</gbutton></a>
  </div>
</body>
</html>
